# === Environnement Python ===
__pycache__/
*.py[cod]
*.pyo

# === Virtualenv ===
env/
venv/
.venv/

# === IDE ===
.vscode/
.idea/

# === Fichiers de logs ===
*.log

# === Fichiers de tests ou coverage ===
.coverage
htmlcov/
.tox/
.pytest_cache/
.cache/

# === Fichiers temporaires ===
*.swp
*.bak
*.tmp
*.DS_Store
Thumbs.db

# === Fichiers liés à pre-commit ===
.pre-commit/
.pre-commit-config.yaml.bak

# === Secrets ===
.env
*.env

# === Bases de données ===
db.sqlite3
*.sqlite3
*.db

# === Sauvegardes de bases de données ===
*.sql
*.dump
backup/
backups/
database/

# === Fichiers Django collectstatic ===
staticfiles/

# === Uploads utilisateurs ===
media/